<div id="comment-index-main">
  <div id="comment-index-form">
  <h2>コメント履歴</h2>
    <table class="table table-hover text-center comment-index-table">
      <thead>
        <tr>
          <th>投稿者</th>
          <th>アーティスト名</th>
          <th>メッセージ</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% if @events.present? %>
          <% @events.each do |event| %>
            <tr>
              <td>
                <%= image_tag event.customer.profile_image.to_s, :size =>'35x35', class: 'comment-profile-image' %>
                <%= link_to(event.customer.name, customer_path(event.customer)) %>
              </td>
              <td><%= event.artist_name %></td>
              <td><%= event.message.truncate(15) %></td>
              <td><i class="far fa-comment"></i><%= event.comments.count %></td>
              <td><%= link_to "詳細を見る",event_path(event), class: "btn btn-sm btn-info" %></td>
            </tr>
          <% end %>
        <% else %>
          <p class="no-comment-history">コメント履歴はありません。</p>
        <% end %>
      </tbody>
    </table>
  </div>
</div>