<h1>今後の予定(index)</h1>
<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.join_day %></td>
        <td>
          <%= event.artist_name %>
        </td>
        <td><%= event.message %></td>
        <td><%= link_to "詳細を見る",event_path(current_customer.id) %></td>
        <td><%= link_to '削除する', event_path(event), method: :delete, class: "btn btn-sm btn-danger destroy_event_#{event.id}"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

