<h1>今後の予定</h1>
<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.join_day %></td>
        <td>
          <%= event.artist_name %>
        </td>
        <td><%= event.message %></td>
        <td><button><%= link_to "詳細を見る",event_path(current_customer.id) %></button></td>
        <td><button><%= link_to '削除する', event_path(event), method: :delete, class: "btn btn-sm btn-danger destroy_event_#{event.id}"%></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<button>
  <%= link_to "参加するイベントを登録する",new_event_path %>
</button>

