<h1>参加するイベントを登録</h1>
<div class="error">
<% if @event.errors.any? %>
  <%= @event.errors.count %>件のエラーが発生しました
  <% @event.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
</div>

<%= form_with model:@event, url:'/events', local:true do |f| %>
  <div class="field">
    <%= f.label :'アーティスト名' %><br>
    <%= f.text_field :artist_name, autofocus: true, placeholder: "30字以内" %>
  </div>

  <div class="field">
    <%= f.label :'メッセージ' %><br>
    <%= f.text_area :message, autofocus: true, :size =>'80x15' %>
  </div>

  <div class="field">
    <%= f.label :'日付' %><br>
    <%= f.date_field :join_day %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
<%= link_to "戻る", :back %>

