<div>

  <h1 class="search-top">検索画面</h1>
    <%= form_with(scope: :search, url: search_events_path, method: :get, local: true) do |f| %>
    <table class="search-table">
      <tbody>
        <tr>
          <td><%= f.label :join_day, "参加日" %></td>
          <td><%= f.date_field :join_day_from, value: @search_params[:join_day_from], class: "joinday-form" %> ~
          <%= f.date_field :join_day_to, value: @search_params[:join_day_to], class: "joinday-form" %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= f.label :artist_name, "アーティスト名" %></td>
          <td><%= f.text_field :artist_name, placeholder: 'アーティスト名', value: @search_params[:artist_name], class: "artistname-form" %></td>
        </tr>
        <tr>
          <td><%= f.label :message, "メッセージ" %></td>
          <td><%= f.text_area :message, value: @search_params[:message], class: "message-form" %></td>
        </tr>
      </tbody>
    </table>
    <div class="search">
      <%= submit_tag '検索する', class: "btn btn-info search-button" %>
    </div>
  <% end %>


  <table class="table table-hover">
    <thead>
      <tr class="info">
        <th style="background:#FAEBD7;">ユーザー</th>
        <th style="background:#FAEBD7;">性別</th>
        <th style="background:#FAEBD7;">参加日</th>
        <th style="background:#FAEBD7;" style="width: 15%">アーティスト名</th>
        <th style="background:#FAEBD7;" style="width: 35%">メッセージ</th>
        <th style="background:#FAEBD7;"></th>
      </tr>
    </thead>
    <tbody>
    <% unless @search_params.blank? %>
    (全<%= @events.count %>件)
      <% @events.each do |event| %>
        <tr>
          <td>
            <%= image_tag event.customer.profile_image.to_s, :size =>'50x50' %>
            <%= link_to(event.customer.name, customer_path(event.customer_id)) %>
          </td>
          <td><%= event.customer.gender_i18n %></td>
          <td><%= event.join_day.strftime('%Y/%m/%-d(%a)') %></td>
          <td><%= event.artist_name %></td>
          <td><%= event.message.truncate(15) %></td>
          <td><%= link_to"詳細を見る", event_path(event),class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>