<div id="search-main">
  <div class="condition">
    <h1 class="search-top">検索画面</h1>
    <%= form_with(scope: :search, url: search_events_path, method: :get, local: true) do |f| %>
      <div>
        <div class="search-list"><%= f.label :start_time, "参加日" %></div>
        <div>(片方の入力で1日のみ検索)</div>
        <%= f.date_field :start_time_from, value: @search_params[:start_time_from], class: "start-time-form" %> ~
        <%= f.date_field :start_time_to, value: @search_params[:start_time_to], class: "start-time-form" %>
      </div>
      <div>
        <div class="search-list"><%= f.label :artist_name, "アーティスト名" %></div>
        <%= f.text_field :artist_name, value: @search_params[:artist_name], class: "artistname-form" %>
      </div>
      <div>
        <div class="search-list"><%= f.label :message, "メッセージ" %></div>
        <%= f.text_area :message, value: @search_params[:message], class: "message-form" %>
      </div>
    <div class="search">
      <%= submit_tag '検索する', class: "btn btn-info search-button" %>
    </div>
  <% end %>
</div>

<div class="result">
    <% unless @search_params.blank? %>
    <div>全<%= @events.total_count %>件(<%= @events.count %>件表示)</div>
      <% @events.each do |event| %>
        <div class="result-customer">
            <%= image_tag event.customer.profile_image.to_s, :size =>'50x50' %>
            <%= link_to(event.customer.name, customer_path(event.customer_id)) %>
            <div>性別：<%= event.customer.gender_i18n %></div>
            <div>参加日：<%= l event.start_time, format: :short %></div>
            <div><%= event.artist_name %></div>
            <div><%= event.message.truncate(15) %></div>
            <div><%= link_to"詳細を見る", event_path(event),class: 'btn btn-primary result-detail-button' %></div>
          </div>
      <% end %>
      <div class="paginate"><%= paginate @events %></div>
    <% end %>

  </div>
</div>