<div class="container">
  <div class="row">
    <h1>イベント詳細</h1>
  </div>

  <div class="row">
    <div class="col-lg-8 offset-2 align-self-center">
      <div>
        <span>参加日</span><br>
        <span class="ml-5"><%= @event.join_day.strftime('%Y/%m/%-d(%a)') %></span>
      </div>
      <div>
        <span>アーティスト名</span><br>
        <span class="ml-5"><%= @event.artist_name %></span>
      </div>
      <div>
        <span>メッセージ</span><br>
      <span class="ml-5"><%= @event.message %></span>
      </div>
    </div>
  </div>
  <div class="row">
    <span><%= link_to '一覧に戻る', events_path(customer_id: @customer.id), class: "btn btn-sm btn-success" %></span>
    <span><%= link_to '削除する', event_path(@event), method: :delete, class: "btn btn-sm btn-danger destroy_event_#{@event.id}", data: {confirm: '本当にイベントを削除しますか？' }%></span>
  </div>
  <div class="row">
    <div>
      <% if @comment.errors.any? %>
        <% @comment.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
    <span>コメント数:<%= @event.comments.count %></span>
      <div class="new-comment">
        <%= form_with(model:[@event,@comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力" %>
        <%= f.submit "送信する" %>
        <% end %>
      </div>
      <div class="comments">
        <% @event.comments.each do |comment| %>
        <%= comment.created_at.strftime('%Y/%m/%-d(%a) %-H:%M') %>
        <%= image_tag comment.customer.profile_image.to_s, :size =>'50x50' %>
        <%= comment.customer.name %>
        <span class="ml-5"><%= comment.comment %></span>
        <%= link_to "コメントを削除", event_comment_path(comment.event, comment), method: :delete, data: {confirm: '本当にコメントを削除しますか？'} %>
        <% end %>
      </div>
    </div>
  </div>
