<div class="split">
  <div class="split-item split-left">
    <div class="split-left__inner">
      <div class="display">
        <%= image_tag @event.customer.profile_image.to_s, :size =>'50x50',class: "profile-image" %>
      </div>
      <div>
        参加日:<%= @event.join_day.strftime('%Y/%m/%-d(%a)') %>
      </div>
      <div>
        アーティスト名:<%= @event.artist_name %>
      </div>
      <div><%= @event.message %></div>
      <div class="link">
        <%= link_to '一覧に戻る', events_path(customer_id: @customer.id), class: "btn btn-sm btn-success" %>
        <%= link_to '削除する', event_path(@event), method: :delete, class: "btn btn-sm btn-danger destroy_event_#{@event.id}", data: {confirm: '本当にイベントを削除しますか？' }%>
      </div>
    </div>
  </div>

<div class="split-item split-right">
  <div class="split-right__inner">
    <h1>コメント一覧</h1>
    <div>
      <% if @comment.errors.any? %>
        <% @comment.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
      <div class="new-comment">
        <%= form_with(model:[@event,@comment]) do |f| %>
        <%= f.text_area :comment, :size =>'45x7',placeholder: "コメントを入力" %>
        <%= f.submit "送信する", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
      <div id="comments-view">
          <%= render partial: 'customer/events/index', locals: { comments: @event.comments } %>
      </div>
    </div>
  </div>
</div>

