<div class="container">
	<div class="row">
		<h3 class="my-4 px-4 rounded-circle", style="background:#EEEEEE;"><%= @customer.name %>のプロフィール</h3>
	</div>

<%# if current_user.id != user.id %>
  <% if current_customer.following?(@customer) %>
    <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete %>
  <% else %>
    <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post %>
  <% end %>
<%# end %>

	<%#= render '/relationships/follow_button', customers: @customers %>

	<div>フォロー数：<%= @customer.followers.count %></div>
 <div>フォロワー数：<%= @customer.followings.count %></div>
 <%= link_to "フォロー一覧",customer_followings_path(@customer.id) %>
 <%= link_to "フォロワー一覧",customer_followers_path(@customer.id) %>

	<div class="row">
	  <div class="col-lg-2">
      <span><%= image_tag @customer.profile_image.to_s, :size =>'80x80' %></span>
    </div>
    <div class="col-lg-8">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td style="width: 25%">名前</td>
            <td style="width: 45%"><%= @customer.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>生年月日</td>
            <td><%= @customer.birth_date %></td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= @customer.gender_i18n %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= @customer.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button>
      <%= link_to "ブログ",blogs_path(customer_id: current_customer.id) %>
    </button>
    <button>
      <%= link_to "参加するイベント",events_path(customer_id: current_customer.id) %>
    </button>
    <% if customer_signed_in? && @customer.id == current_customer.id %>
    <button>
      <%= link_to "編集する",edit_customer_registration_path %>
    </button>
    <button>
      <%= link_to "退会する",quit_customer_path %>
    </button>
    <% end %>
  </div>
</div>