<div class="profile">
  <div class="top-title">
    <span class="top-title"><%= @customer.name %>のプロフィール</span>
  </div>
    <div class="profile-top">
      <div><%= image_tag @customer.profile_image.to_s, :size =>'120x120', class: "profile-image" %></div>

      <div class="follow">
        <% if current_customer.id != @customer.id %>
          <% if current_customer.following?(@customer) %>
            <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-sm btn-info" %>
          <% else %>
            <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "btn btn-sm btn-info" %>
          <% end %>
        <% end %>
        <div class="follow-count">フォロー数：<%= link_to(@customer.followings.count,customer_followings_path(@customer.id)) %></div>
        <div class="follow-count">フォロワー数：<%= link_to(@customer.followers.count,customer_followers_path(@customer.id)) %></div>
      </div>
      <div class="blog-event">
        <div class="blog-event-button">
          <%= link_to "ブログ",blogs_path(customer_id: @customer.id), class: "btn btn-orange btn-shadow" %>
        </div>
        <div class="blog-event-button">
          <%= link_to "参加するイベント",events_path(customer_id: @customer.id), class: "btn btn-orange btn-shadow" %>
        </div>
      </div>
    </div>

    	<%#= render '/relationships/follow_button', customers: @customers %>
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <td style="width: 25%">名前</td>
            <td style="width: 45%"><%= @customer.name %></td>
          </tr>
          <tr>
            <td>生年月日</td>
            <td><%= @customer.birth_date %>

            </td>
          </tr>
          <tr>
            <td>性別</td>
            <td><%= @customer.gender_i18n %></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= @customer.introduction %></td>
          </tr>
        </tbody>
      </table>

    <div class="profile-bottom">
      <% if customer_signed_in? && @customer.id == current_customer.id %>
        <%= link_to "編集する",edit_customer_registration_path, class: "btn btn-orange btn-shadow" %>
        <%= link_to "退会する",quit_customer_path, class: "btn btn-sm btn-secondary" %>
      <% end %>
    </div>

</div>