
<div class="error">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
  <div class="mypage-edit-title">
    <span class="mypage-edit-title">マイページ編集</span>
  </div>

  <!--<div class="col-lg-2">-->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!--    <%= render "devise/shared/error_messages", resource: resource %>-->
  <!--    <span><%= image_tag current_customer.profile_image.to_s, :size =>'80x80' %></span>-->
  <!--</div>-->

  <div class="mypage-edit-image">
      <% if current_customer.persisted? && current_customer.profile_image? %>
        <%= image_tag current_customer.profile_image.to_s, :size =>'80x80' %>
      <% else %>
        <%= image_tag 'default.png', :size =>'80x80' %>
        <%= f.hidden_field :profile_image_cache %>
      <% end %>
        <%= f.file_field :profile_image %>
    </div>
      <table class="table table-bordered text-center mypage-edit-table">
        <tbody>
          <tr>
            <td><%= f.label :'名前' %></td>
            <td><%= f.text_field :name, autofocus: true, :size=>"40" %></td>
          </tr>
          <tr>
            <td><%= f.label :'メールアドレス' %></td>
            <td><%= f.email_field :email, :size=>"40" %></td>
          </tr>
          <tr>
            <td><%= f.label :'生年月日' %></td>
            <td><%= f.date_select(
                :birth_date,
                start_year: 1930,
                end_year: (Time.now.year),
                prompt: "--",
                ) %></td>
          </tr>
          <tr>
            <td><%= f.label :'性別'%></td>
            <td><%= f.radio_button :gender, :man %>
              <%= f.label :'男性' %>
              <%= f.radio_button :gender, :woman %>
              <%= f.label :'女性' %></td>
          </tr>
          <tr>
            <td rowspan="3">
              <%= f.label :'パスワード' %>
            </td>
            <td>
              現在のパスワード<%= f.password_field :current_password, :size=>"40" %>
            </td>
          </tr>
          <tr>
            <td>
              新しいパスワード(6文字以上)<%= f.password_field :password, :size=>"40" %>
            </td>
          </tr>
          <tr>
            <td>
              新しいパスワード(確認)<%= f.password_field :password_confirmation, :size=>"40" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :'自己紹介' %></td>
            <td>
              <%= f.text_area :introduction,class: 'edit-introduction' %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="edit-actions">
        <%= f.submit "編集", class: 'mypage-edit-actions' %>
      </div>
    <% end %>
    <div class="back-actions">
      <%= link_to "戻る", :back, class: 'btn btn-sm btn-secondary edit-back-actions' %>
    </div>
