<div>コメント数:<%= blog_comments.count %></div>
  <% blog_comments.reverse.each do |blog_comment| %>
  <div class="comments">
    <div class="display">
      <div class="image">
        <%= image_tag blog_comment.customer.profile_image.to_s, :size =>'35x35',class: "profile-image" %>
      </div>
      <div class="customer-name">
        <%= link_to(blog_comment.customer.name, customer_path(blog_comment.customer_id)) %>
      </div>
    </div>
    <div class="comment-time">
      <%= l blog_comment.created_at,format: :default %>
    </div>
    <div class="comment">
      <%= simple_format(blog_comment.comment) %>
    </div>
    <% if blog_comment.customer == current_customer %>
      <%= link_to "コメントを削除", blog_blog_comment_path(blog_comment.blog, blog_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger", data: {confirm: '本当にコメントを削除しますか？'} %>
    <% end %>
  </div>
<% end %>