<div id="comment-index-main">
  <div id="comment-index-form">
  <h2>ブログのコメント履歴</h2>
        <% if @blogs.present? %>
        <table class="table table-hover text-center comment-index-table">
          <thead>
            <tr>
              <th>ブログ投稿者</th>
              <th>タイトル</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td>
                <%= image_tag blog.customer.profile_image.to_s, :size =>'35x35',class:'comment-profile-image' %>
                <%= blog.customer.name %>
              </td>
              <td><%= blog.blog_title.truncate(15) %></td>
              <td><i class="far fa-comment"></i><%= blog.blog_comments.count %></td>
              <td><%= link_to "詳細を見る",blog_path(blog), class: "btn btn-sm btn-info" %></td>
            </tr>
          <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="no-comment-history">ブログのコメント履歴はありません。</p>
        <% end %>
