<div class="container">
  <div class="row">
    <div class="offset-1">
    <h1 class="mt-3">ブログ</h1>
    <%= form_with model:@blog_new, local:true do |f| %>
      <div class="field">
        <%= f.label :'タイトル' %><br>
        <%= f.text_field :blog_title, autofocus: true, :size =>'50' %>
      </div>
      <div class="field">
        <%= f.label :'本文' %><br>
        <%= f.text_area :blog_text, :size =>'70x30' %>
      </div>
      <div class="field">
        <%= f.attachment_field :blog_images_images, multiple: true %>
      </div>
      <div class="mt-3">
        <%= f.submit "投稿する", class: "btn btn-success" %>
      </div>
      <% end %>

      <h1 class="mt-4">これまでの投稿</h1>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>投稿日</th>
            <th>タイトル</th>
            <th width=320px>本文</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= blog.blog_title %></td>
              <td><%= blog.blog_text.truncate(20) %></td>
              <td><%#= link_to "#{blog.blog_comments.count}コメント", blog_path(blog.id) %></td>
              <td><%= link_to '詳細を見る', blog_path(blog), class: "btn btn-sm btn-primary"%></td>
              <td><%= link_to '削除する', blog_path(blog), method: :delete, class: "btn btn-sm btn-danger destroy_blog_#{blog.id}"%></td>
            </tr>
          <% end %>
          <!--<% if @blog_new.blog_images.present? %>-->-->
          <!--  <% @blog_new.blog_images.each do |image| %>-->
          <!--    <%= attachment_image_tag image, :image %>-->
          <!--  <% end %>-->
          <!--  <% else %>-->
          <!--    画像はありません。-->
          <!--  <% end %>-->
        </tbody>
      </table>

      </div>
    </div>
  </div>

