<%= flash[:notice] %>
    <h1>これまでの投稿</h1>
    <%= link_to"ブログを投稿する", new_blog_path, class: "btn btn-sm btn-info" %>


<span>ブログ投稿数:<%= @blogs.total_count %></span>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>投稿日</th>
            <th>タイトル</th>
            <th width=320px>本文</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= blog.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= blog.blog_title %></td>
              <td><%= blog.blog_text.truncate(20) %></td>
              <td>
                <% if blog.blog_images.present? %>
                <% blog.blog_images.each do |image| %>
                  <%= attachment_image_tag image, :image, :size =>'50x50'  %>
                <% end %>
                <% else %>
                  画像はありません。
                <% end %>
              </td>
              <td><%= "#{blog.blog_comments.count}コメント" %></td>
              <td><%= link_to '詳細を見る', blog_path(blog), class: "btn btn-sm btn-primary",data: {"turbolinks"=>false} %></td>
              <td><%= link_to '削除する', blog_path(blog), method: :delete, class: "btn btn-sm btn-danger destroy_blog_#{blog.id}" %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
      <%= paginate @blogs %>




