<div class="index-body">
  <%= flash[:notice] %>
  <div class="top-title">
    <span class="top-title"><%= @customer.name %>のブログ</span>
  </div>
  <% if current_customer.id == @customer.id %>

    <%= link_to "コメント履歴",blogs_detail_path, class: "btn btn-primary" %>

    <div><%= link_to"ブログを投稿する", new_blog_path, class: "btn btn-orange btn-shadow" %></div>
  <% end %>
    <div class="blog-count">全<%= @blogs.total_count %>件(<%= @blogs.count %>件表示)</div>
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>投稿日</th>
            <th>タイトル</th>
            <th width=320px>本文</th>
            <th></th>
            <th></th>
            <th></th>
            <% if current_customer.id == @customer.id %>
            <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @blogs.each do |blog| %>
            <tr>
              <td><%= l blog.created_at, format: :short %></td>
              <td><%= blog.blog_title.truncate(15) %></td>
              <td><%= blog.blog_text.truncate(20) %></td>
              <td>
                <% if blog.blog_images.present? %>
                <% blog.blog_images.first(4).each do |image| %>
                  <%= attachment_image_tag image, :image, :size =>'50x50'  %>
                <% end %>
                <% else %>
                  画像はありません
                <% end %>
              </td>
              <td><%= "#{blog.blog_comments.count}コメント" %></td>
              <td><%= link_to '詳細を見る', blog_path(blog), class: "btn btn-sm btn-primary",data: {"turbolinks"=>false} %></td>
                <% if current_customer.id == @customer.id %>
                  <td><%= link_to '削除する', blog_path(blog), method: :delete, class: "btn btn-sm btn-danger destroy_blog_#{blog.id}", data: {confirm: '本当にブログを削除しますか？'} %></td>
                <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>
      <%= paginate @blogs %>
</div>




