<div class="index-body">
  <div class="blog-index-top">
    <%= @customer.name %>のブログ
    <% if current_customer.id == @customer.id %>
      <div>
        <%= link_to"ブログを投稿する", new_blog_path, class: "btn btn-orange btn-shadow" %>
        <%= link_to "コメント履歴",blogs_detail_path, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <% if @blogs.present? %>
    <div class="blog-count">全<%= @blogs.total_count %>件(<%= @blogs.count %>件表示)</div>
          <% @blogs.each do |blog| %>
            <div class="blog-article">
              <div class="blog-index-title"><%= blog.blog_title.truncate(15) %></div>
              <span class="blog-time"><%= l blog.created_at, format: :short %></span>

                <% if blog.blog_images.present? %>
                  <span class="mx-2"><i class="far fa-image"></i><%= blog.blog_images.count %></span>
                <% end %>
                  <span class="mx-2"><i class="far fa-heart"></i><%= blog.favorites.count %></span>
                  <span class="mx-2"><i class="far fa-comment"></i><%= blog.blog_comments.count %></span>

                <%= link_to '詳細を見る', blog_path(blog), class: "btn btn-primary",data: {"turbolinks"=>false} %>

                <% if current_customer.id == @customer.id %>
                  <%= link_to '削除', blog_path(blog), method: :delete, class: "destroy-link destroy_blog_#{blog.id}", data: {confirm: '本当にブログを削除しますか？'} %>
                <% end %>
            </div>
          <% end %>
      <div class="paginate"><%= paginate @blogs %></div>
    <% else %>
    　<p>ブログの投稿はありません</p>
    <% end %>
</div>




