<div class="new-body">
  <h1 class="blog mt-3">ブログ</h1>
  <div class="error">
    <% if @blog_new.errors.any? %>
      <% @blog_new.errors.full_messages.each do |message| %>
        <li class="list-unstyled text-danger"><%= message %></li>
      <% end %>
    <% end %>
  </div>

  <%= form_with model:@blog_new, local:true do |f| %>
    <div class="blog-new-form">
      <%= f.label :'タイトル' %>
    </div>
    <div>
      <%= f.text_field :blog_title, autofocus: true, placeholder: "50字以内", class: 'new-blog-title' %>
    </div>
    <div class="blog-new-form">
      <%= f.label :'本文' %>
    </div>
    <div>
      <%= f.text_area :blog_text, class: 'new-blog-text' %>
    </div>
    <div class="blog-new-form">画像(8枚まで)</div>
    <div>
      <%= f.attachment_field :blog_images_images, multiple: true %>
    </div>
    <div class="submit">
      <%= f.submit "投稿する", class: "btn btn-success new-blog-button" %>
    </div>
  <% end %>
</div>

