<div class="split">
  <div class="split-item split-left">
    <div class="split-left__inner">
      <div class="display"><%= image_tag @blog.customer.profile_image.to_s, :size =>'50x50',class: "profile-image" %>
        <div class="title"><%= @blog.blog_title %></div>
      </div>
      <div class="blog-time"><%= l @blog.created_at, format: :default %></div>
      <div class="blog-text"><%= simple_format(@blog.blog_text) %></div>
      <div class="blog-images">
        <% if @blog.blog_images.present? %>
          <% @blog.blog_images.each do |image| %>
            <%= link_to Refile.attachment_url(image, :image), "data-lightbox": image.image do %>
              <%= attachment_image_tag image, :image, :size =>'100x100',class: "img_#{image.id}" %>
            <% end %>
          <% end %>
          <% else %>
        <% end %>
      </div>

      <%= render partial: 'customer/blogs/favorite_btn', locals: {customer: @customer, blog: @blog} %>

      <div class="link">
        <%= link_to 'ブログ一覧に戻る', blogs_path(customer_id: @customer.id), class: "btn btn-sm btn-success" %>
        <% if current_customer.id == @customer.id %>
          <%= link_to 'ブログを削除', blog_path(@blog), method: :delete, class: "destroy-link destroy_blog_#{@blog.id}", data: {confirm: '本当にブログを削除しますか？' }%>
        <% end %>
      </div>
    </div>
  </div>

  <div class="split-item split-right">
    <div class="split-right__inner">
      <h1>コメント一覧</h1>
      <div class="error">
        <% if @blog_comment.errors.any? %>
          <% @blog_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </div>

      <div class="new-comment">
        <%= form_with(model:[@blog,@blog_comment]) do |f| %>
        <%= f.text_area :comment, :size =>'45x7',placeholder: "コメントを入力" %>
        <%= f.submit "送信する", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
      <div id="comments-view">
        <%= render partial: 'customer/blogs/index', locals: { blog_comments: @blog.blog_comments } %>
      </div>
    </div>
  </div>
</div>



