<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-3">
      <h1>ブログ詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-3 align-self-center">
      <div>
        <span>投稿日</span><br>
        <span class="ml-5"><%= @blog.created_at %></span>
      </div>
      <div>
        <span>タイトル</span><br>
        <span class="ml-5"><%= @blog.blog_title %></span>
      </div>
      <div>
        <span>投稿内容</span><br>
      <span class="ml-5"><%= @blog.blog_text %></span>
      </div>
      <div class="my-3">
      <%= link_to '削除する', blog_path(@blog), method: :delete, class: "btn btn-sm btn-danger destroy_blog_#{@blog.id}"%>
      <%= link_to '一覧に戻る', blogs_path, class: "btn btn-sm btn-success" %>
      </div>
      <span>コメント数:<%= @blog.blog_comments.count %></span>
      <div class="new-comment">
        <%= form_with(model:[@blog,@blog_comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力" %>
        <%= f.submit "送信する" %>
        <% end %>
      </div>
      <div class="comments">

        <% @blog.blog_comments.each do |blog_comment| %>
        <%= blog_comment.created_at.strftime('%Y/%m/%d') %>

        <%= image_tag blog_comment.customer.profile_image.to_s, :size =>'50x50' %>
        <%= blog_comment.customer.name %>
        <span class="ml-5"><%= blog_comment.comment %></span>
        <%= link_to "コメントを削除", blog_blog_comment_path(blog_comment.blog, blog_comment), method: :delete %>
        <% end %>
      </div>

      </div>
      </div>
</div>
</div>

