<div class="split">
  <div class="split-item split-left">
    <div class="split-left__inner">
      <div class="blog-title"><%= image_tag @blog.customer.profile_image.to_s, :size =>'50x50',class: "profile-image" %>
      <div class="title"><%= @blog.blog_title %></div>
      </div>
      <div class="blog-time"><%= @blog.created_at.strftime('%Y/%m/%-d(%a) %-H:%M') %></div>
      <div class="blog-text"><%= @blog.blog_text %></div>
      <div class="blog-images">
        <% if @blog.blog_images.present? %>
          <% @blog.blog_images.each do |image| %>
            <%= link_to Refile.attachment_url(image, :image), "data-lightbox": image.image do %>
              <%= attachment_image_tag image, :image, :size =>'100x100',class: "img_#{image.id}" %>
            <% end %>
          <% end %>
          <% else %>
          画像はありません。
        <% end %>
      </div>
      <div class="link">
        <%= link_to 'ブログを削除する', blog_path(@blog), method: :delete, class: "btn btn-sm btn-danger destroy_blog_#{@blog.id}", data: {confirm: '本当にブログを削除しますか？' }%>
        <%= link_to 'ブログ一覧に戻る', blogs_path(customer_id: @customer.id), class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>

  <div class="split-item split-right">
    <div class="split-right__inner">
      <h1>コメント一覧</h1>
      <div class="error">
        <% if @blog_comment.errors.any? %>
          <% @blog_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </div>
      <div class="new-comment">
        <%= form_with(model:[@blog,@blog_comment], local: true) do |f| %>
        <%= f.text_area :comment, :size =>'45x7',placeholder: "コメントを入力" %>
        <%= f.submit "送信する", class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
      <span>コメント数:<%= @blog.blog_comments.count %></span>
        <% @blog.blog_comments.each do |blog_comment| %>
        <div class="comments">
        <div class="image"><%= image_tag blog_comment.customer.profile_image.to_s, :size =>'50x50',class: "profile-image" %></div>
        <span class="customer-name"><%= blog_comment.customer.name %></span>
        <div><%= blog_comment.created_at.strftime('%Y/%m/%-d(%a) %-H:%M') %></div>
        <div class="comment"><%= blog_comment.comment %></div>
        <%= link_to "コメントを削除", blog_blog_comment_path(blog_comment.blog, blog_comment), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: '本当にコメントを削除しますか？'} %>
        </div>
        <% end %>

    </div>
  </div>
</div>



