<!DOCTYPE html>
<html>
  <head>
    <title>LiveMatching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/ad383b9fb6.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="app-body">
    <!--<%# if controller.controller_name == 'blogs' %>-->
    <%# if controller.controller_name == 'blogs' && controller.action_name == 'index' %>
    <!--  <div class="wrapper blog">-->
    <!--<%# elsif controller.controller_name == 'events'  %>-->
    <!--<div class="wrapper event">-->
    <!--  <%# else %>-->
    <!--  <div class="wrapper">-->
    <!--<%# end %>-->
   <div class="wrapper background">

      <header class="header">
          <a href="/" class="headertitle">LiveMatching</a>



        <ul class="nav">
        <% if customer_signed_in? %>
          <span class="welcome">ようこそ、<%= current_customer.name %>さん！</span>
          <li>
            <i class="far fa-calendar-alt header-font"></i><%= link_to "今後の予定",events_path(customer_id: current_customer.id), class: 'headericon' %>
          </li>
          <li>
            <i class="fas fa-search header-font"></i><%= link_to "検索する",events_search_path, class: 'headericon' %>
          </li>
          <li>
            <i class="fas fa-user header-font"></i><%= link_to "マイページ",customer_path(current_customer.id), class: 'headericon' %>
          </li>
          <li>
            <i class="fas fa-sign-out-alt header-font"></i><%= link_to "ログアウト",destroy_customer_session_path, method: :delete, class: 'headericon' %>
          </li>
        <% elsif admin_signed_in? %>
          <li>
            <i class="fas fa-sign-out-alt header-font"><%= link_to "管理者ログアウト",destroy_admin_session_path, method: :delete, class: 'headericon' %>
          </li>
        <% else %>
          <li>
            <i class="fas fa-search header-font"></i><%= link_to "検索する",searches_path, class: 'headericon' %>
          </li>
          <li>
            <i class="fas fa-chalkboard header-font"></i><%= link_to "About",homes_about_path, class: 'headericon' %>
          </li>
          <li>
            <i class="fas fa-plus header-font"></i><%= link_to "新規登録",new_customer_registration_path, class: 'headericon' %>
          </li>
          <li>
            <i class="fas fa-sign-in-alt header-font"></i><%= link_to "ログイン",new_customer_session_path, class: 'headericon' %>
          </li>
        <% end %>
        </ul>
      </header>
      <main>
        <%= yield %>
      </main>

      <footer class="footertext">
        <p>© All rights reserved by LiveMatching.</p>
      </footer>
    </div>
  </body>
</html>
